<h1 id="tableLabel">Export price of article</h1>

<p>To export the article with price please enter date and click button "GetData".</p>

<p *ngIf="!specificDate"><em>Please enter date</em></p>
<input type="date" [(ngModel)]="specificDate" />
<button (click)="onGetData()">Get Data</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="articles">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slogan</th>
      <th>Price</th>
      <th>Net Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td>{{ article.name }}</td>
      <td>{{ article.slogan }}</td>
      <td>{{ article.price }}</td>
      <td>{{ article.netPrice }}</td>
    </tr>
  </tbody>
</table>
